<div class="container-fluid landing-name">
    <h1 class="center-name">Jason Wong</h1>
    <div class="dark-mode-container">
        <p class = "dark-mode" id = "dark-toggle">Dark Mode</p>
    </div>
</div>


{{!-- {{> about}} --}}
{{> banner}}

{{> works}}

<div class="contact container-fluid">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <p class="contact-text">Got a cool idea? Feel free to shoot me an email - Available for work.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-12">
            <a class = "menu-item email" href="mailto:jason.wong47@myhunter.cuny.edu">
                <div>
                    <span class = "menu-item-text email-text">Send an Email</span>
                </div>
            </a>
        </div>
        <div class="col-md"></div>
    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-links">
                <a class="footer-link" href="https://www.linkedin.com/in/jason-wong-/">LinkedIn</a>
                <a class="footer-link" href="https://github.com/JS0Nwong">GitHub</a>
                <a class="footer-link" href="mailto:jason.wong47@myhunter.cuny.edu">Email</a>
                <p class="footer-link copyright">&copy; 2021</p>
            </div>
        </div>
    </div>
</footer>