<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class = "about-me">I am 3rd year student at Hunter College pursuing a degree in Computer Science and a minor in Media Studies. 
            I like create beautiful, modern and responsive websites with an emphasis in animated content.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
