<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <span class ="banner-text">PORT/FOLIO</span>
            <span class ="banner-text">PORT/FOLIO</span>
            <span class ="banner-text">PORT/FOLIO</span>
        </div>
    </div>
</div>