<div class="intro container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="logo-header">
                <span class="logo text-1">show dont tell.</span>
                <span class="logo">show dont tell.</span>
                <span class="logo text-3">show dont tell.</span>
                <span class="logo text-4">show dont tell.</span>
                <span class="logo">show dont tell.</span>
                <span class="logo">show dont tell.</span>
                <span class="logo">show dont tell.</span>
                <span class="logo text-8">show dont tell.</span>
                <span class="logo text-9">show dont tell.</span>
                <span class="logo">show dont tell.</span>
                <span class="logo text-11">show dont tell.</span>
            </div>
        </div>
    </div>
</div>