<nav class = "menu">
    <a class = "menu-item">
        <div>
            <span class = "menu-item-text">Pokey.dex</span>
        </div>
    </a>
    <a class = "menu-item">
        <div>
            <span class = "menu-item-text">Media 331</span>
        </div>
    </a>
    <a class = "menu-item">
        <div>
            <span class = "menu-item-text">Media 285</span>
        </div>
    </a>
    <a class = "menu-item">
        <div>
            <span class = "menu-item-text">CSCI 335</span>
        </div>
    </a>
</nav>